{{define "base"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digest</title>
    <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="top">
    <div class="wrapper">
      <div id="header">
        <h1><a href="index.html">Digest</a></h1>
      </div>
    </div>
    <div class="wrapper">
      <div class="container">
      {{template "content" .}}
    </div>
    </div>
    <div class="wrapper">
      <div id="copyright">
        <p class="fl_left">Copyright &copy; 2024 - All Rights Reserved</p>
        <br class="clear" />
      </div>
    </div>
    </body>
    <script type="text/javascript">
      $(document).ready(function(){
      $(".block").each(function(index, element) {
        if ((index+1)%3 == 0 && index != 0) {
          $(element).addClass("last");
          $(element).after('<div class="spacer">&nbsp;</div>');
        }
        //console.log(index, element);
      });
      $("#hpage_latest ul li:last-child").addClass("last");
      $("#gen").click(function(e){
        $.ajax({
            url:"/products",
            type: "POST",
            data:{'button':button,"email":Email},
            success: function(results){
                console.log(results)
                $('#response').html(results);
            }
        });
        $("#messages label").text("Generating!!!");
      });
    });
  </script>
    </html>
    {{end}}