{{define "content"}}
      <div class="whitebox" id="hpage_services">
        {{range .Category}}
        <div class="block">
          {{if .ImageURL}}
          <img src="{{.ImageURL}}" width="50" height="50"  alt="{{.Name}}" />
          {{end}}
          <strong><a href="{{.Link}}" target="_blank">{{.Name}}</a></strong>
          <p>{{.Description}}</p>
        </div>
        {{end}}
        <div class="clear"></div>
      </div>
      <!-- ####################################################################################################### -->
      <div id="hpage_latest">
        <ul>
          {{range .Affiliates}}
          <li>
            {{if .ImageURL}}
            <div class="imgholder">              
              <a href="#"><img src="{{.ImageURL}}" width="260" height="180" alt="{{.Name}}" /></a>
            </div>
            {{end}}
            <p><strong>{{.Name}}</strong></p>
            <p>{{.Description}}</p>
          </li>
          {{end}}
        </ul>
        <br class="clear" />
      </div>
{{end}}